<ion-view view-title="Details" name="event-details-view">
    <div class="bar bar-subheader" style="justify-content: space-between;">
        <div class="button-bar">
            <div class="subheader-item" ng-click="showAlert()" style="cursor: pointer;text-align: center;width: 100%;">{{ user.username }}</div>
        </div>
    </div>
    <ion-content class="padding" style="margin-top: 50px; margin-bottom: 50px;">
        <div class="list">
            <div class="item item-divider">
                Informations de l'évènement
            </div>
            <div class="item" ng-cloak>
                Titre : {{ event.titre }}
            </div>
            <div class="item" ng-cloak>
                Date de début : {{ event.dateDebut }}
            </div>
            <div class="item" ng-cloak>
                Date de fin : {{ event.dateFin }}
            </div>
            <div class="item" ng-cloak>
                Nombre participants : {{ event.nbparticipants }}
            </div>
            <div class="item" ng-cloak>
                Total dépense : {{ event.totalDepense }}€
            </div>
            <button ng-click="addMember({{event.id}})" ng-if="event.idCreateur == user.id" class="button button-block button-balanced" ng-cloak>
                Ajouter un participant
            </button>
            <button ng-click="addDepense({{event.id}})" class="button button-block button-positive" ng-cloak>
                Ajouter une dépense
            </button>
            <button ng-click="closeEvent()" ng-if="event.idCreateur == user.id" class="button button-block button-assertive" ng-cloak>
                Clôturer l'évènement
            </button>

            <div class="item item-divider">
                Historique des dépenses
            </div>
            <div class="item" ng-if="depenses.length == 0" ng-cloak>
                Pas de dépense actuellement
            </div>
            <div class="item" ng-if="depenses.length > 0" ng-repeat="depense in depenses" ng-cloak>
                <div><span style="font-weight: bold;">{{ depense.payeur }}</span> paie <span style="font-weight: bold;">{{ depense.montantDepense}}€</span></div>
                <div>pour <span style="font-weight: bold;" ng-repeat="splitPart in depense.splitted">{{ splitPart.split('/')[0] }} </span></div>
            </div>
        </div>
    </ion-content>
</ion-view>
