<ion-view view-title="Balance" name="event-balance-view">
    <div class="bar bar-subheader" style="justify-content: space-between;">
        <div class="button-bar">
            <div class="subheader-item" ng-click="showAlert()" style="cursor: pointer;text-align: center;width: 100%;">{{ user.username }}</div>
        </div>
    </div>
    <ion-content class="padding" style="margin-top: 50px;">
        <div ng-if="!balanceLoaded" style="text-align: center;"ng-cloak>Balance en cours de calcul</div>
        <button ng-click="closeEvent()" ng-if="idCreateur == user.id && balanceLoaded" class="button button-block button-assertive" ng-cloak>
            Clôturer l'évènement
        </button>
        <div ng-if="balanceLoaded" class="card">
            <div class="item item-text-wrap" ng-repeat="member in members" style="text-align: center;">
                {{ member.username }} : {{ member.balance }}€
            </div>
        </div>
        <div class="item item-divider" style="text-align: center;">
            Transactions
        </div>
        <div class="item" ng-if="transactions.length == 0" style="text-align: center;" ng-cloak>
            Pas de transaction actuellement
        </div>
        <div class="item" ng-if="depenses.length > 0" ng-repeat="transaction in transactions" ng-class="{'lastElement':$last}" ng-cloak>
            <div style="text-align: center;"><span style="font-weight: bold;">{{ transaction.usernameDonneur }}</span> doit <span style="font-weight: bold;">{{ transaction.montant}}€ </span>à</div>
            <div style="text-align: center;"><span style="font-weight: bold;">{{ transaction.usernameReceveur }} </span></div>
        </div>
    </ion-content>
    <div class="bar bar-footer" style="padding: 0 0 0 0;display:table;height:35px !important;">
        <div style="cursor:pointer;font-weight: bold;width: 50%;text-align: center;vertical-align: middle;display: table-cell;" ng-click="goToDetail()"><i class="icon ion-clipboard"></i></div>
        <div style="cursor:pointer;font-weight: bold;width: 50%;background-color: lightgrey;text-align: center;vertical-align: middle;display: table-cell;"><i class="icon ion-shuffle"></i></div>
    </div>
</ion-view>
