<ion-view view-title="Balance" name="event-balance-view">
    <div class="bar bar-subheader" style="justify-content: space-between;">
        <div class="button-bar">
            <div class="subheader-item" ng-click="showAlert()" style="cursor: pointer;text-align: center;width: 100%;">{{ user.username }}</div>
        </div>
    </div>
    <ion-content class="padding" style="margin-top: 50px;">
        Pas de contenu
    </ion-content>
    <div class="bar bar-footer" style="padding: 0 0 0 0;display:table;height:35px !important;">
        <div style="cursor:pointer;font-weight: bold;width: 50%;text-align: center;vertical-align: middle;display: table-cell;" ng-click="goToDetail()"><i class="icon ion-clipboard"></i></div>
        <div style="cursor:pointer;font-weight: bold;width: 50%;background-color: lightgrey;text-align: center;vertical-align: middle;display: table-cell;"><i class="icon ion-shuffle"></i></div>
    </div>
</ion-view>
